
CREATE TABLE IF NOT EXISTS performance_recommendations (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    issue_type TEXT NOT NULL,
    title_en TEXT NOT NULL,
    title_si TEXT,
    title_ta TEXT,
    description_en TEXT,
    description_si TEXT,
    description_ta TEXT,
    guidance_en JSONB,
    guidance_si JSONB,
    guidance_ta JSONB,
    severity TEXT DEFAULT 'MEDIUM',
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Insert some default data
INSERT INTO performance_recommendations (issue_type, title_en, description_en, guidance_en, severity)
VALUES ('SNF', 'Low SNF Detected', 'Milk nutrient level (SNF) is below standard', '[\
Provide
protein-rich
feed
such
as
soybean
meal
and
legume
fodder\, \Add
mineral
mixture
supplements
to
improve
milk
quality\, \Ensure
clean
drinking
water
is
always
available\, \Maintain
a
proper
and
consistent
feeding
schedule\, \Perform
regular
deworming
and
veterinary
checkups\]'::jsonb, 'LOW');

